[submodule "sol2"]
	path = modules/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "notcurses/notcurses"]
	path = modules/notcurses/notcurses
	url = https://github.com/dankamongmen/notcurses.git
